* {
	box-sizing: border-box;
  
}

.body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
    
}

#header-nav {
	background-color: #9d301e;
	border-radius: 0px;
	border: 0;
    margin-bottom: 10px;
}

.navbar-brand strong {
	font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.8em;
	padding-top: 25px;
	color: #d0ed5d;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 40px;
}

 .navbar-brand a:hover, .navbar-brand a:focus {
   	text-decoration: none;
    }

 .navbar-header {
 	margin-bottom: 20px
 }

 .navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

  .navbar-default .navbar-toggle:hover{
 	background-color: #b8e629ab;
 }

#nav-list a {
  font-size: 22px;
  color: #0fff;
  text-align: center;
} 
 #nav-list li:hover {
  background-color: #2b5a1980;
 }



#main-content h2 {
   color:#0e0b0b;
   font-weight: bold;
   font-size: 40px;

} 

.container div section {
    font-size: 30px
   
}

.container div p {
	font-size: 20px
}

#Chicken, #Beef, #Sushi, p  {

	background-color: grey
}